<div class="auth-page">

  <img src="assets/logo.png" class="logo">

  <div class="auth-card">

    <h1>Starlight</h1>
    <h2>Nueva contraseña</h2>

    <p class="info">
      Escribe tu nueva contraseña.
    </p>

    <label>Nueva contraseña</label>
    <input
      type="password"
      [(ngModel)]="password1"
      placeholder="Nueva contraseña">

    <label>Confirmar contraseña</label>
    <input
      type="password"
      [(ngModel)]="password2"
      placeholder="Repite la contraseña">

    <button class="main-btn" (click)="cambiarPassword()">
      Cambiar contraseña
    </button>

    <a routerLink="/login">Volver al login</a>

  </div>

  @if (toastVisible) {
    <div class="toast">
      {{ toastMensaje }}
    </div>
  }

</div>
