<header class="header">
  <h1>Catálogo</h1>
  <div class="cart-icon" (click)="toggleCart()">

    <img src="assets/carrito.png" alt="Carrito" class="cart-img">

    @if (cartCount() > 0) {
    <span class="badge">
      {{ cartCount() }}
    </span>
  }


  </div>
</header>

<section class="grid">
    @for (p of products(); track p.id) {
    <app-producto-card [product]="p" (add)="agregar($event)"> 
    </app-producto-card>}

</section>

@if (showCart()) {
  <div class="cart-dropdown">
    <app-carrito></app-carrito>
  </div>
}

