<div class="auth-page">

  <img src="assets/logo.png" class="logo">

  <div class="auth-card">

    <h1>Starlight</h1>
    <h2>Recuperar contraseña</h2>

    <p class="info">
      Ingresa el correo asociado a tu cuenta. Te enviaremos un PIN de 6 dígitos.
    </p>

    <label>Correo electrónico</label>
    <input
      type="email"
      [(ngModel)]="correo"
      placeholder="correo@ejemplo.com">

    <button class="main-btn" (click)="enviarPin()">
      Enviar PIN
    </button>

    <a routerLink="/login">Volver al login</a>

  </div>

  @if (toastVisible) {
    <div class="toast">
      {{ toastMensaje }}
    </div>
  }

</div>
