<div class="home-container">

  <!-- BANNER PRINCIPAL -->
  <div class="banner">
    <img src="assets/banner_principal.png" alt="Banner principal">
  </div>

  <!-- FILA DE TARJETAS PEQUEÑAS -->
  <div class="mini-cards">
    <div class="mini-card">
      <img src="assets/Preventas.jpg" alt="Preventas">
    </div>

    <div class="mini-card">
      <img src="assets/rebajas.png" alt="Rebajas">
    </div>

    <div class="mini-card">
      <img src="assets/eventos.jpg" alt="Eventos">
    </div>
  </div>

  <!-- GRID PRINCIPAL -->
  <div class="grid">

    <!-- IZQUIERDA GRANDE -->
    <div class="card grande">
      <img src="assets/principe_cruel.png" alt="El príncipe cruel">
    </div>

    <!-- CENTRO -->
    <div class="card">
      <img src="assets/boulevard.png" alt="Boulevard de los sueños rotos">
    </div>

    <!-- DERECHA -->
    <div class="card">
      <img src="assets/preventa_rosa.png" alt="Preventa">
    </div>
  <div class="card nueva">
    <img src="assets/adeline.png" alt="Hunting Adeline">
  </div>
  </div>

  <!-- BANNER INFERIOR -->
  <div class="banner-inferior">
    <img src="assets/sempiterno.png" alt="Sempiterno">
  </div>

</div>